
.icon-brush:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-lightbulb:before { content: '\e805'; } /* '' */
.icon-clipboard:before { content: '\e806'; } /* '' */